.config/raycast/extensions/
.config/zed
.config/simple-update-notifier
.config/karabiner/a*
.zshrc
wallpaper
.config/tmux/plugins/
.DS_Store
.config/fish/fish_variables
.config/tmux/*.log
.config/nvim/live-tests.json
.config/nvim/spell/en.utf-8.add.spl
