
[include]
    path = ~/.gitconfig-person

[includeIf "gitdir:~/Developer/gitlab/"]
    path = ~/.gitconfig-work

[core]
    pager = delta
    editor = nvim
    autocrlf = input
	  excludesFile = ~/.gitignore_global
[delta]
    navigate = true    # use n and N to move between diff sections`
	  line-numbers = true
[diff]
   tool = vimdiff
   colorMoved = default
[merge]
    conflictstyle = zdiff3
    tool = vimdiff
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $BASE $REMOTE $MERGED  -c '$wincmd w' -c 'wincmd J'
	  keepBackup = false
[alias]
    ss = status -s
    lol = log --oneline --graph --decorate --all
[credential]
    helper = osxkeychain

[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
[init]
    defaultBranch = main
[pull]
    rebase = true
[rerere]
	enabled = false
